<p><%= link_to 'Editar', edit_genre_path %></p>

<dl> 
    <dt>
        <strong>Nome: </strong><%= @genre.name %>
    </dt>
 </dl>

<ul>
<%= render partial: 'movies/movies', locals: {movies: @movies} %>
</ul>  