<p><%= link_to 'Editar', edit_genre_path %></p>

<dl> 
    <dt>
        <strong>Nome: </strong><%= @genre.name %>
    </dt>

 </dl>

<ul>
<% @movies.each do | movie | %>   
  <li> <%= link_to "#{movie.title} ", movie%> |
    <%= movie.release_date.year %>
  </li> 
<% end %>
</ul>  