<% movies.each do | movie | %>   
  <li> 
    <dl>
      <dt>
        <% if movie.poster.attached? %>
          <img src="<%= url_for(movie.poster) %>" alt="Postêr">
        <% end %>
      </dt>

      <dt>
        <%= link_to "#{movie.title} ", movie%> | <%= movie.release_date.year %>
      </dt>
    </dl>
  </li> 
<% end %>