<h2>Filmes</h2>  

<%= link_to 'Films em rascunho', show_draft_movies_path %> 

<ul>
   <%= render partial: 'movies', locals: {movies: @movies_released} %>
</ul>

<h3>Filmes a serem lançados</h3>
<ul>
   <%= render partial: 'movies', locals: {movies: @movies_to_release} %>
</ul>

<%= link_to 'Cadastrar Film', new_movie_path %> 
