<h2>Diretores</h2>  

<ul>
<% @directors.each do | director | %>   
    <li> <%= link_to "#{director.name} #{director.last_name}", director%> |
        <%= link_to 'Editar', edit_director_path(director) %>
    </li> 
<% end %>
</ul>

<%= link_to 'Cadastrar Diretor', new_director_path %> 