<h2>Welcome to <strong>FilmCatalog</strong></h2>

<ul>
<% @movies.each do | movie | %>   
    <li> <%= link_to "#{movie.title} ", movie%> |
        <%= movie.release_date.year %>
    </li> 
<% end %>
</ul>
